<app-header></app-header>

<div id="wrapper">
	<app-sidebar></app-sidebar>
	<div id="content-wrapper">

		<div class="container-fluid">

			
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">View</li>
			</ol>

			<h4 class="til">Dashboard Form</h4>

			<div class="cardm">
				<form>
					<div class="col-12">
						<div class="row">
							<div class="col-xl-3">
								<div class="form-group">
									<label for="usr">Name *</label>
									<input type="text" class="form-control" id="usr" placeholder="Name">
								</div>
							</div>
							<div class="col-xl-3">
								<div class="form-group">
									<label for="inputEmail">Email address *</label>
									<input type="text" class="form-control" id="inputEmail" placeholder="Email">
								</div>
							</div>
							<div class="col-xl-3">
								<div class="form-group">
									<label for="inputCnfm">Confirm Email *</label>
									<input type="text" class="form-control" id="inputCnfm" placeholder="Confirm Email">
								</div>
							</div>
							<div class="col-xl-3">
								<div class="form-group">
									<label for="inputNo">Number *</label>
									<input type="text" class="form-control" id="inputNo" placeholder="Number">
								</div>
							</div>
							<div class="col-xl-3">
								<div class="form-group">
									<label for="inputUrl">Website Url *</label>
									<input type="text" class="form-control" id="inputUrl" placeholder="Website">
								</div>
							</div>
							<div class="col-xl-3">
								<div class="form-group">
									<label for="inputOcup">Occupation *</label>
									<input type="text" class="form-control" id="inputOcup" placeholder="Occupation">
								</div>
							</div>
							<div class="col-xl-3">
								<div class="form-group">
									<label for="inputPassword">Password</label>
									<input type="text" class="form-control" id="inputPassword" placeholder="Password">
								</div>
							</div>
							<div class="col-xl-3">
								<div class="form-group">
									<label for="inputcpwd">Comfirm Password</label>
									<input type="text" class="form-control" id="inputcpwd" placeholder="Comfirm Password" >
								</div>
							</div>
							<div class="col-xl-3">
								<div class="form-group">
									<label for="inputTel">Telephone *</label>
									<input type="text" class="form-control" id="inputTel" placeholder="Telephone" >
								</div>
							</div>
							<div class="col-xl-3">
								<div class="form-group">
									<label for="comment">comment *</label>
									<textarea id="comment" class="form-control" placeholder="comment" required="required" autofocus="autofocus"></textarea>
								</div>
							</div>
							<div class="col-xl-12">
								<div class="row">
									<div class="col-xl-3 col-6">
										<a class="btn btn-primary btn-block" href="javascript:void(0);">Cancel</a>
									</div>
									<div class="col-xl-3 col-6">
										<a class="btn btn-primary btn-block" href="javascript:void(0);">Login</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>	


			</div>
		</div>
	</div>
</div>


